.premiacaoText {
    color: var(--c-green);
    text-align: center;
}

.premiacaoGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 431px) and (max-width: 1025px) {
    .premiacaoText {
        font-size: 5rem;
    }

    .premiacaoGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}