.PromotionCardImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PromotionTittle {
    color: var(--c-green);
    font-size: 3rem;
    text-align: center;
}

.PromotionText {
    color: var(--c-green);
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.PromotionTextLink {
    width: 300px;
    background-color: var(--c-green);
    color: var(--c-black);
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    border: 1px solid var(--c-darkGreen);
    border-radius: 1rem;
    font-weight: bolder;
    margin: .5rem 0 .5rem 0;
}

@media (min-width: 431px) and (max-width: 1025px) {
    .PromotionTittle {
        font-size: 5rem;
    }

    .PromotionText {
        font-size: 2rem;
    }

    .PromotionTextLink {
        width: 500px;
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
    }
}
