.Cards {
    width: 47.5%;
    height: 305px;
    background-color: rgb(233, 232, 232);
    color: var(--c-darkGreen);
}

.desktopCardList {
    list-style: none;
    color: var(--c-darkGreen);
    font-size: 1.2rem;
}

.desktopCardList li i {
    margin-left: .5rem;
    color: var(--c-darkGreen);
}

.contratar {
    background-color: var(--c-green);
    border: 1px solid var(--c-darkGreen);
    color: var(--c-white);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
}

.contratar i {
    margin-right: 1rem;
}